.header {
  min-width: 940px;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0);
  color: white;
  width: 100%;
  z-index: 1000;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  list-style: none;
  color: white;
}

.header__listItem {
  padding: 20px 30px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s;
}
.header__listItem:hover {
  color: rgba(250, 250, 250, 0.7);
}

.box {
  border: 1px solid white;
  padding: 0px 20px;
  transition: all 0.3s;
}
.box:hover {
  background-color: white;
  color: black;
}
